*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  
    background: #08001b;
    
}

.navbar {
        	background-color: #022e9e;
                padding:0;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 2;
}
.navbar img{

		width: 200px;
		height: 50px;
}
.navbar li{
        padding: 10px;
        text-align: center;

}
.button_login{

        padding: 17px;
        text-align: center;
        color: white;
        font-weight: bold;
        	
}
.button_login:focus{
        background-color: green;
}
.button_login:hover{
        background-color: red;
}
.d-block{
         width: 100%;
         height: 300px;
         margin-top: 70px;
}


.containe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    float: center;
    float: middle;
   
}
.containe .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: #0c002b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-left: 30px;
}

.containe .card{
    opacity: 0.2;

}
.containe .card:hover{
    opacity: 1;
    
}
.containe .card::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.1);
    pointer-events: none;
}
.containe .card .content{
    padding: 30px;
    text-align: center;
}
.containe .card .content h2{
    position: absolute;
    right: 30px;
    font-size: 4em;
    font-weight: 800;
    color: #1779ff;
    z-index: ;
    opacity: 0.1;
    transition: 0.5s;
}
.containe .card:hover .content h2{
    opacity: 1;
    transform: translateY(-120px);
}
.containe .card .content h3{
    position: relative;
    font-size: 1em;
    font-size: #fff;
    z-index: 1;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
        color: #fff;
}
.containe .card .content p{
    color: #fff;
}
.containe .card:hover .content h3,
.containe .card:hover .content p{
    opacity: 1;

}

.container .card .content a{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #fff;
    color: #0c002b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}


.containe .card span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #1779ff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.containe .card span{
    transition: 0.5;
    opacity: 0;
}
.containe .card:hover span{
    opacity: 1;
}

.containe .card span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.containe .card span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #1779ff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.containe .card span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
